$background: #f8fafc;
$primary: #6a1b9a;

$family-primary: 'Nunito', sans-serif;

$card-content-padding: 2em;

$table-cell-padding: 1em 1.5em;

// $body-font-size:0.9em;
$table-head-cell-color:hsl(0, 0%, 48%);
